body{
    max-width: 1440px;
    margin: auto;
}

.nav{
    list-style-type: none;
    margin: 0;
    height: 48px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav li{
    margin: 0px 50px;
}

.nav li a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

.nav li a:hover:not(.active) {
    background-color: #02966c;
}

.active {
    background-color: #064b38;
}

.footer {
    background: linear-gradient(-135deg, #00feba, #5b548a);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1440px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-content {
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.welcome{
    font-size: 50px;
    color: rgb(87, 42, 102);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 150px;
}

.card img{
    width: 150px;
    height: 150px;
    margin: 0px 0px;
}

.card{
    width: 500px;
}

.welcomePara{
    font-size: 20px;
    color: rgb(87, 42, 102);
    font-weight: bold;
    margin-bottom: 180px;
}

.anchorAyeshi{
    color: brown;
}
.anchorAyeshi:hover{
    color: #5b548a;
}





