*{
    max-width: 1440px;
    margin: auto;
}

.nav{
    list-style-type: none;
    margin: 0;
    height: 48px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.nav li{
    margin: 0px 50px;
}

.nav li a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    text-align: left;
}

.nav li a:hover:not(.active) {
    background-color: #02966c;
}

.active {
    background-color: #064b38;
}